/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #011F26;
}
.container {
    max-width: 1000px;
    margin: 20vh auto;
}
.content {
    
}

.fizz-buzz-dom {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fizz-buzz-dom > :nth-child(2n+2) {
    margin-left: .5rem;
    margin-right: .5rem;
}

.box {
    width: calc(100% / 9 - (5rem / 9));
    min-height: 6rem ;
    background-color: #025E73;
    
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fizz {
    background-color:#03A688;
}

.buzz {
    background-color: #BDE038;
}

.fizzbuzz{
    background-color: #F2668B;
}

/* Title */

.title {
    text-align: center;
    color: white;
    font-size: 2rem;
    line-height: 6rem;
}

@media screen and (max-width: 800px) {
    .box {
        width: 4rem;
        min-height: 4rem;
        height: 4rem;

}